#RestuarantDetail-link{
    text-decoration: none;
    color: #000000;
}

.RestuarantCard-container{
    display: flex;
    flex-direction: row;
    width: 45vw;
}

.RestuarantCard-container > img {
    width: 100px;
    height: 100px;
}

#RestuarantCard-title{
    margin-bottom: 2px;
}

#RestuarantCard-description{
    margin-top: 0px;
}